<a href="https://colab.research.google.com/github/cesaralejon/tuberias/blob/main/Tuberias_scikit_Cesar_Olmedo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split

from sklearn.preprocessing import StandardScaler

from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor

from sklearn.pipeline import make_pipeline

In [4]:
filename = ('/content/drive/MyDrive/Coding Dojo/Week 9/abalone (1).data')
df = pd.read_csv(filename, delimiter=',', header=None)
df.head()

   0      1      2      3       4       5       6      7   8
0  M  0.455  0.365  0.095  0.5140  0.2245  0.1010  0.150  15
1  M  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.070   7
2  F  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.210   9
3  M  0.440  0.365  0.125  0.5160  0.2155  0.1140  0.155  10
4  I  0.330  0.255  0.080  0.2050  0.0895  0.0395  0.055   7

In [5]:
df.columns = ['Sex', 'Length', 'Diameter', 'Height', 'Whole weight', 'Shucked weight', 'Viscera weight','Shell weight','Rings']

In [6]:
df.head()

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

## Predecir Edad

In [9]:
x = df[['Length', 'Diameter', 'Height', 'Whole weight', 
        'Shucked weight', 'Viscera weight', 'Shell weight']]
y = df['Rings']

In [11]:
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state = 0)

In [12]:
reg_tub = make_pipeline(StandardScaler(), KNeighborsRegressor())

In [14]:
reg_tub.fit(x_train, y_train)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('kneighborsregressor', KNeighborsRegressor())])

In [16]:
print("Training:", reg_tub.score(x_train, y_train))
print("Testing:", reg_tub.score(x_test, y_test))

Training: 0.6539079854456187
Testing: 0.49888197203213314

## Predecir Sexo

In [17]:
x = df[['Length', 'Diameter', 'Height', 'Whole weight', 
        'Shucked weight', 'Viscera weight', 'Shell weight', 'Rings']]
y = df['Sex']

In [18]:
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state = 0)

In [19]:
classification_tub = make_pipeline(StandardScaler(), KNeighborsClassifier())

classification_tub.fit(x_train, y_train)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('kneighborsclassifier', KNeighborsClassifier())])

In [21]:
print("Training Accuracy:", classification_tub.score(x_train, y_train))
print("Testing Accuracy:", classification_tub.score(x_test, y_test))

Training Accuracy: 0.6749680715197957
Testing Accuracy: 0.5196172248803828

* ¿Por qué querrías ocupar una tubería para KNN?

Para KNN es necesario escalar los datos, por lo que la tubería es muy útil



* ¿Para qué otros modelos o tareas sería útil usar una tubería?

Para ACP en el pre procesamiento del modelo